{% extends 'base.html.twig' %}

{% block title %}Recommandation index{% endblock %}

{% block body %}
    <h1>Recommandation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Type</th>
                <th>ImageUrl</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recommandation in recommandations %}
            <tr>
                <td>{{ recommandation.id }}</td>
                <td>{{ recommandation.title }}</td>
                <td>{{ recommandation.description }}</td>
                <td>{{ recommandation.type }}</td>
                <td>{{ recommandation.imageUrl }}</td>
                <td>{{ recommandation.link }}</td>
                <td>
                    <a href="{{ path('app_recommandation_show', {'id': recommandation.id}) }}">show</a>
                    <a href="{{ path('app_recommandation_edit', {'id': recommandation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recommandation_new') }}">Create new</a>
{% endblock %}
